node_modules
dist
.vscode
vendor
sip_core.js
sip_core.js.LICENSE.txt

.pytest_cache/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
build/
develop-eggs/
.eggs-info/
.installed.cfg
.cache
coverage
venv/